@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #02010a;
    --foreground: #ededed;
  }
}
*/

/* Main styles */
body {
  color: var(--foreground);
  background: var(--background);
}

@media (max-width: 351px) {
  .button-custom {
    padding: 2px;
    text-wrap: nowrap;
  }
}

.shape {
  width: 550px;
  background: transparent;
  border: 4px solid #ff6a6a;
  animation: wave 6s ease-in-out infinite;
  overflow: hidden;
}
@keyframes wave {
  0%,
  100% {
    border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
  }
  50% {
    border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
  }
}
