@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #02010a;
    --foreground: #ededed;
  }
}
*/

/* Main styles */
body {
  color: var(--foreground);
  background: var(--background);
}

@media (max-width: 351px) {
  .button-custom {
    padding: 2px;
    text-wrap: nowrap;
  }
}
